:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;

  --brutal-accent: hsl(120, 99%, 45%);
  --brutal-shadow-color: hsla(120, 99%, 45%, 0.2);
  --brutal-shadow: 0.4rem 0.4rem var(--brutal-shadow-color);
  --brutal-shadow-hover: 0.2rem 0.2rem var(--brutal-shadow-color);
  --bg: hsl(54, 20%, 98%);
  --bg-hover: hsl(120, 50%, 95%);

  border-color: var(--brutal-accent);
  background: var(--bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --brutal-accent: hsl(120, 99%, 45%);
    --brutal-shadow-color: hsla(120, 99%, 45%, 0.2);
    --bg: hsl(54, 0%, 8%);
    --bg-hover: hsl(120, 50%, 10%);
  }
}

* {
  box-sizing: border-box;
  accent-color: var(--brutal-accent);
}

*:focus-visible {
  outline: 2px solid var(--brutal-accent);
}

::selection {
  background: var(--brutal-accent);
  color: var(--bg);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

main {
  width: 100%;
  padding: 0.3rem;
}

form {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;

  border: 1px solid var(--brutal-accent);
  width: max-content;
  box-shadow: var(--brutal-shadow);

  &:hover {
    box-shadow: var(--brutal-shadow-hover);
  }
}

form.login {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  margin: 1rem auto;
  max-width: 25rem;
  padding: 1rem;
}

button,
input,
::file-selector-button {
  padding: 0.5rem 0.5rem;
  margin: 0;
  border: none;
  border-radius: 0rem;
  background: var(--bg);
  font-size: 1em;
}

button:hover,
input:hover,
::file-selector-button:hover {
  background: var(--bg-hover);
}

::file-selector-button {
  margin-inline-end: 0.3rem;
}

input[type="file"] {
  padding: 0;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid CanvasText;
  font-family: monospace;

  & button {
    border: 1px solid var(--brutal-accent);
    box-shadow: var(--brutal-shadow);

    &:hover {
      box-shadow: var(--brutal-shadow-hover);
    }
  }
}

#header > :nth-child(2) {
  font-family: sans-serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#header :last-child {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  align-items: baseline;
}

#module-selector {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;

  & > li {
    aspect-ratio: 1;
    width: 5rem;

    & button {
      padding: 0;
      cursor: pointer;
      height: 100%;
      width: 100%;

      border: 1px solid var(--brutal-accent);
      box-shadow: var(--brutal-shadow);
      &:hover {
        box-shadow: var(--brutal-shadow-hover);
      }
    }
  }
}

details {
  margin: 1rem 0;
  border: 1px solid var(--brutal-accent);

  padding: 0;
  & > summary {
    padding: 0.5rem;
    cursor: pointer;
  }

  &[open] > summary {
    border-bottom: 1px solid;
  }
}

qr-code {
  display: block;
  margin: 1rem;
  width: max-content;

  border: 1px solid var(--brutal-accent);
  box-shadow: var(--brutal-shadow);
}

qr-code::part(img) {
  margin-bottom: -6px;
}

#user-list {
  width: 15rem;
  padding: 0.3rem;
  margin: 0;
  margin-left: auto;
  position: fixed;
  top: 3.5rem;
  right: 1rem;
  border: 1px solid var(--brutal-accent);
  box-shadow: var(--brutal-shadow);

  & h2 {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid;
  }

  & ul {
    padding-left: 1.2rem;
  }
}

#module {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

word-cloud,
canvas {
  width: 100%;
  height: auto;
}

#words {
  height: 0;
  width: 0;
  overflow: hidden;
}
